*{
    margin: 0;
    border:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.nav-bar{
    background-image: url(./assets/background.jpg);
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
    width:100%;
    
}
nav{
    background-color:rgba(244, 241, 241, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 3px rgb(0,0,0,0.1);
    position:fixed;
    width:100%;
    z-index: 999;
}
nav ul{
    width:100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height:50px;
}
nav a{
    height: 100%;
    padding:0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    
}
nav a:hover{
    background-color: #f0f0f0;
}
nav li:first-child{
    margin-right: auto;
}
